<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	
	<typeAliases>
		<typeAlias type="pix.gdc.com.vo.PixArticle" alias="pixArticle"/>
		<typeAlias type="pix.gdc.com.vo.PixLike" alias="pixLike"/>
		<typeAlias type="pix.gdc.com.vo.PixComment" alias="pixComment"/>
		<typeAlias type="pix.gdc.com.vo.FestLogin" alias="FestLogin"/>
		<typeAlias type="pix.gdc.com.vo.FestEvent" alias="FestEvent"/>
		<typeAlias type="pix.gdc.com.vo.FestEventInfo" alias="FestEventInfo"/>
		<typeAlias type="pix.gdc.com.vo.FestEventNotice" alias="FestEventNotice"/>
		<typeAlias type="pix.gdc.com.vo.FestOption" alias="FestOption"/>
		<typeAlias type="pix.gdc.com.vo.FestQ1" alias="FestQ1"/>
		<typeAlias type="pix.gdc.com.vo.FestQ2" alias="FestQ2"/>
		<typeAlias type="pix.gdc.com.vo.FestQ3" alias="FestQ3"/>
		<typeAlias type="pix.gdc.com.vo.FestQ4" alias="FestQ4"/>
		<typeAlias type="pix.gdc.com.vo.FestQ5" alias="FestQ5"/>
		<typeAlias type="pix.gdc.com.vo.FestQ6" alias="FestQ6"/>
		<typeAlias type="pix.gdc.com.vo.FestQ7" alias="FestQ7"/>
		<typeAlias type="pix.gdc.com.vo.FestUfoNotice" alias="FestUfoNotice"/>
		<typeAlias type="pix.gdc.com.vo.FestUfo" alias="FestUfo"/>
		<typeAlias type="pix.gdc.com.vo.Event_VO" alias="Event_VO"/>
		<typeAlias type="pix.gdc.com.vo.FestSnsLog" alias="FestSnsLog"/>
		<typeAlias type="pix.gdc.com.vo.FestNewsLetterEmail" alias="FestNewsLetterEmail"/>
		<typeAlias type="pix.gdc.com.vo.FestQuesListVO" alias="FestQuesListVO"/>
		<typeAlias type="pix.gdc.com.vo.FestOption" alias="FestOption"/>
		<typeAlias type="pix.gdc.com.vo.FestAnswerVO" alias="FestAnswerVO"/>
		<typeAlias type="pix.gdc.com.vo.UfoGoVO" alias="UfoGoVO"/>
		<typeAlias type="pix.gdc.com.vo.UfoGoRecord" alias="UfoGoRecord"/>
		<typeAlias type="pix.gdc.com.vo.UfoShare" alias="UfoShare"/>
		<typeAlias type="pix.gdc.com.vo.UfoBarcodeLog" alias="UfoBarcodeLog"/>
		<typeAlias type="pix.gdc.com.vo.UfoLable" alias="UfoLable"/>
		<typeAlias type="pix.gdc.com.vo.UfoMinwon" alias="UfoMinwon"/>
		<typeAlias type="pix.gdc.com.vo.QueQuestions" alias="QueQuestions"/>
		<typeAlias type="pix.gdc.com.vo.QueAnswers" alias="QueAnswers"/>
		<typeAlias type="pix.gdc.com.vo.TisAccom" alias="TisAccom"/>
		<typeAlias type="pix.gdc.com.vo.TisEmployee" alias="TisEmployee"/>
		<typeAlias type="pix.gdc.com.vo.TisEvent" alias="TisEvent"/>
		<typeAlias type="pix.gdc.com.vo.TisFlight" alias="TisFlight"/>
		<typeAlias type="pix.gdc.com.vo.TisVenue" alias="TisVenue"/>
		<typeAlias type="pix.gdc.com.vo.TisAdmin" alias="TisAdmin"/>
		<typeAlias type="pix.gdc.com.vo.TisFacilities" alias="TisFacilities"/>
		<typeAlias type="pix.gdc.com.vo.TisPolicies" alias="TisPolicies"/>
		<typeAlias type="pix.gdc.com.vo.TisTransportations" alias="TisTransportations"/>
		<typeAlias type="pix.gdc.com.vo.TisSupports" alias="TisSupports"/>
		<typeAlias type="pix.gdc.com.vo.TisShift" alias="TisShift"/>
		<typeAlias type="pix.gdc.com.vo.TisTrip" alias="TisTrip"/>
		<typeAlias type="pix.gdc.com.vo.TisIti" alias="TisIti"/>
		<typeAlias type="pix.gdc.com.vo.TisItiDetail" alias="TisItiDetail"/>
		<typeAlias type="pix.gdc.com.vo.TisOther" alias="TisOther"/>
		<typeAlias type="pix.gdc.com.vo.TisTeam" alias="TisTeam"/>
		<typeAlias type="pix.gdc.com.vo.TisRequest" alias="TisRequest"/>
		<typeAlias type="pix.gdc.com.vo.KimgPersonVO" alias="KimgPerson"/>
		<typeAlias type="pix.gdc.com.vo.KimgPhotoVO" alias="KimgPhoto"/>
		<typeAlias type="pix.gdc.com.vo.KimgCompanyVO" alias="KimgCompany"/>
		<typeAlias type="pix.gdc.com.vo.KimgProductVO" alias="KimgProduct"/>
		<typeAlias type="pix.gdc.com.vo.KimgItemVO" alias="KimgItem"/>
		<typeAlias type="pix.gdc.com.vo.KimgEventVO" alias="KimgEvent"/>
		<typeAlias type="pix.gdc.com.vo.KimgCategoryVO" alias="KimgCategory"/>
		<typeAlias type="pix.gdc.com.vo.KimgDepartmentVO" alias="KimgDepartment"/>
		<typeAlias type="pix.gdc.com.vo.KimgSportVO" alias="KimgSport"/>
		<typeAlias type="pix.gdc.com.vo.KimgVenueVO" alias="KimgVenue"/>
		<typeAlias type="pix.gdc.com.vo.KimgTaskStatusVO" alias="KimgTaskStatus"/>
		<typeAlias type="pix.gdc.com.vo.KimgTaskTypeVO" alias="KimgTaskType"/>
		<typeAlias type="pix.gdc.com.vo.KimgTaskVO" alias="KimgTask"/>
		<typeAlias type="pix.gdc.com.vo.KimgDashVO" alias="KimgDash"/>
		<typeAlias type="pix.gdc.com.vo.KimgProgressVO" alias="KimgProgress"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="pix/gdc/com/mapper/BasicMapper.xml" />
		<mapper resource="pix/gdc/com/mapper/QueMapper.xml" />
		<mapper resource="pix/gdc/com/mapper/TisMapper.xml" />
		<mapper resource="pix/gdc/com/mapper/KimgMapper.xml" />
	</mappers>
</configuration>